@font-face {
    font-family: DSWalbaumfraktur;
    src: url(img/DSWalbaumfraktur.ttf);
}

/* /////// SPLASH PAGE CSS //////// */
.moodnews_logo{
  width: 555px;
  margin: auto;
  padding: 15px;
  display: block;
}

p.lead {
  font-size: 24px;
  font-family: 'Merriweather', serif;
}

.news_div-splashpage h1 {
  font-family: DSWalbaumfraktur;
  font-size: 8em;
  color: #2f3893;
}

.news_div-splashpage h3 {
  color: #214bff;
}


/* add background img to splash page*/
.splashpage_background {
  background: url('img/news_background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

button {
  margin-top: 15px;
  background-color: #fec41a;
  color: white;
  padding: 5px;
  border-radius: 5px;

}

.news_div-splashpage {
  background-color: rgba(255,255,255,.75);
  width: 50%;
  margin: 80px auto;
  padding: 30px 20px;
  border-radius: 10px;
}



/* ///////// ARTICLES //////// */
body {
  text-align: center;
  background-color: #005fb3;
    background: url('img/sunflower_tall.jpg') no-repeat center center fixed;;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h3 {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  color: #214bff;
}

h1 {
  font-family: DSWalbaumfraktur;
  font-size: 8em;
  color: #fec41a;
}

p {
  font-family: 'Open Sans', sans-serif;
}

input {
  margin: 3px;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.single_article img {
  width: 100%;
  height: 225px;
  object-fit: cover;
}

.single_article {
  height: 550px;
  display: inline-block;
  background-color: rgba(255,255,255,.75);
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
}

.single_article:hover {
   box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.single_article h3 {
  font-size: 1.4em;
  margin: 15px 0;
  line-height: 1.5em;
}

.article_header {
  margin-bottom: 15px;
}

.article_p {
    display: flex;              /* establish flex container */
    justify-content: center;    /* center items vertically, in this case */
    align-items: center;        /* center items horizontally, in this case */
    height: 200px;
    text-align: left;
    background-color: white;
    border-radius: 10px;
}

.article_p p {
    width: 80%;
    margin: 5px;
    text-align: center;
}

/* /////////// Source Image CSS \\\\\\\\\\\ */
.source-image {
  width: 50px;
  height: auto;
}